body {
  font-size: 1em;
  padding: 0;
}

h1 {
  margin: 0;
}

.bayan-wrapper {
  margin: 0 auto;
  padding: 0;
  background-color: navajowhite;
}

.bayan {
  margin: 0 auto;
  max-width: 30vw;
}

.input {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
}

img {
  transform: scale(0);
  max-width: 20vw;
  overflow: hidden;
}

.input:checked~.content {
  max-height: 100vh;
}

.input:checked~.content img {
  transform: scale(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease-in;
}

.input:checked~.label-text span {
  color: black;
}

.input:checked~.label-text .close {
  background-image: url('./assets/minus.svg');
}

.label-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.bayan-item {
  line-height: 7vh;
}

.bayan-item:active {
  opacity: 0.7;
}

.bayan-label {
  color: rgb(38, 0, 255);
  border-top: 1px solid black;
  display: block;

}

.close {
  opacity: 0;
  width: 1.5vw;
  height: 1.5vw;
  background-image: url('./assets/plus.svg');
  background-size: cover;
}

.content {
  max-width: 20vw;
  max-height: 0;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.5s ease;
}

.img-wrapper {
  display: block;
  margin-top: 0.5vh;
}

@media (max-width: 1920px) {
  body {
    font-size: 1.5em;
  }

  .bayan {
    max-width: 75vw;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 2em;
  }

  .bayan {
    max-width: 75vw;
  }
}

@media (max-width: 820px) {
  body {
    font-size: 1.25em;
  }

  .bayan {
    max-width: 90vw;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 1em;
  }
}

@media (any-hover: hover) {

  .bayan:hover .close,
  .bayan:hover span {
    opacity: 1;
    color: black;
    cursor: pointer;
  }

  img:hover {
    border-radius: 50%;
    cursor: pointer;
  }

  .bayan-label:hover {
    cursor: pointer;
  }

  .bayan-label:hover .content {
    max-height: 100vh;
  }

  .bayan-label:hover img {
    transform: scale(1);
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease;
  }

  .bayan-label:hover .close {
    background-image: url('./assets/minus.svg');
  }
}